# Dependencies
node_modules/
*/node_modules/

# Production builds
/dist/
/build/
*.apk
*.aab
*.keystore

# Environment variables
.env
*.env.local
*.env.*

# Database
*.sqlite
*.db
/data/

# Expo
.expo/
.expo-shared/
.expo/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
